BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
NamespaceIndentation: None
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: false
